body
{
    background-color: red;
}
.ta
{
    background-color: purple;
    color: white;
    width: 100%;
    align-content: center;
}
table
{
    text-align: left;
}
button
{
    width: 40%;
    height: 10%;
}